<style scoped>
    .userinfo-title{
        display: inline-block ; padding-right: 1em;  border-left: 2px solid #333;
    padding-left: 10px;
    }
    .userinfo-titile-container{
    	padding-bottom: 10px;
    }
    .userinfo-titile-container .btn-default{
    	color:#1379af;

    }
.userinfo-titile-container i{
	font-weight: bold;

}

.button-line-group{
				margin-top: 10px;
			}
</style>

<div class="panel panel-default" id="user-info">
	<div class="panel-heading">
		<div class="colume-title">
			<span class="colume-title-line"></span>
			User Info
		</div>
	</div>
	<!-- /.panel-heading -->
	<div class="panel-body">
		{{{useraccount}}}
{{{billingaccount}}}
	</div>
	<!-- /.panel-body -->
</div>

<!--<div class="col-lg-12 col-md-12 col-sm-12">

<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<p>
			<button type="button" class="btn btn-default">Create Random New User</button>
			<button type="button" class="btn btn-default">Create User With Specified Email</button>
			<button type="button" class="btn btn-default">Create Random Creditcardaccount</button>

		</p>
	</div>
</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
<div class="row">

	<div class=" col-md-3 col-sm-3">
		<div class="form-group">
			<label>Text Input</label>
			<input class="form-control"></div>
	</div>
	<div class=" col-md-3 col-sm-3">
		<div class="form-group">
			<label>Text Input</label>
			<input class="form-control"></div>
	</div>
	<div class=" col-md-3 col-sm-3">
		<label>Text Input</label>
		<input class="form-control"></div>
	<div class=" col-md-3 col-sm-3">
		<div class="btn-group btn-sum-resopnsive" role="group"  >

			<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
				Get User
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">

				<li>
					<a href="#">Another action</a>
				</li>
				<li>
					<a href="#">Something else here</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Separated link</a>
				</li>
			</ul>

		</div>
	</div>
</div>

</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
<div class="row">

<div class=" col-md-6 col-sm-6">
	<div class="form-group">
		<label>Text Input</label>
		<input class="form-control"></div>
</div>

<div class=" col-md-6 col-sm-6">
	<div class="btn-group btn-sum-resopnsive" role="group"  >
		<button type="button" class="btn btn-default">Create Random Creditcardaccount</button>
		<button type="button" class="btn btn-default">Set As Default</button>
		<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" role="menu">

			<li>
				<a href="#">Another action</a>
			</li>
			<li>
				<a href="#">Something else here</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">Separated link</a>
			</li>
		</ul>

	</div>
</div>

</div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12">
<div class="row">

<div class=" col-md-8 col-sm-8">
	<div class="form-group">
		<label>
			Create / Charge EAWallet with amount(maximum is 300 for USD):
		</label>
		<input class="form-control"></div>
</div>

<div class=" col-md-4 col-sm-4">
	<div class="btn-group btn-sum-resopnsive" role="group"  >

		<button type="button" class="btn btn-default  dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
			Create EAWallet
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" role="menu">

			<li>
				<a href="#">Another action</a>
			</li>
			<li>
				<a href="#">Something else here</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#">Separated link</a>
			</li>
		</ul>

	</div>
</div>

</div>
</div>
-->