<style scoped>
.colume-title-button{
	padding-right: 1em;
}
	.colume-title-button-dropdown{
		display: inline-block;
	}
.colume-title-button-dropdown ul{
	width: 300px;
	padding: 10px;
}
.label-with-checkbox input{
margin-right: 1em;margin-top: 4px;
}
</style>
<div class="panel panel-default" id="URLParameters">
	<div class="panel-heading">
		<div class="colume-title">
			<span class="colume-title-button"><span class="colume-title-line"></span> URLParameters</span>

			<div class="dropdown colume-title-button-dropdown" >
				<button 
    	 class="btn btn-success" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-plus"></i>Generate Lockbox URL
					<!--<span class="caret"></span>
				-->
			</button>
					<button type="button" class="btn btn-primary">Jump</button>
			<button type="button" class="btn btn-primary ">Go</button>

			<!--<ul class="dropdown-menu pull-right" aria-labelledby="dLabel">

			<div class="form-group input-group">
				<textarea class="form-control" rows="3"></textarea>
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"> <i class="fa fa-search"></i>
						Copy
					</button>
				</span>
			</div>
		</ul>
		-->
	</div>

</div>
</div>
<!-- /.panel-heading -->
<div class="panel-body">

<div class="col-lg-12">
	<div class="form-group">
		<label>Localbox URL</label>
		<textarea class="form-control" rows="4" style="padding-right:80px">https://checkout.integration.ea.com/checkout/origin?cartName=test&locale=en_US&authCode=QUOQANL4QM7jyuJsTM9g0DFoawFxw1eTuZUw8WQB&currency=USD&gameId=ebisu&countryCode=US
		</textarea>
		<div style="    position: absolute;
        top: 25px;
    right: 15px;">
		
			<button type="button" class="btn btn-default ">
<i class="fa fa-clipboard "></i>
			Copy</button>
		
		</div>

	</div>
</div>

<div class="col-lg-4">
	<div class="form-group">
		<label class="label-with-checkbox">
			<input type="checkbox" value="">Checkbox 1</label>
		<input class="form-control" placeholder="Enter text"></div>
</div>
<div class="col-lg-4">
	<div class="form-group">
		<label class="label-with-checkbox">
			<input type="checkbox" value="">Checkbox 1</label>
		<input class="form-control" placeholder="Enter text"></div>
</div><div class="col-lg-4">
	<div class="form-group">
		<label class="label-with-checkbox">
			<input type="checkbox" value="">Checkbox 1</label>
		<input class="form-control" placeholder="Enter text"></div>
</div><div class="col-lg-4">
	<div class="form-group">
		<label class="label-with-checkbox">
			<input type="checkbox" value="">Checkbox 1</label>
		<input class="form-control" placeholder="Enter text"></div>
</div><div class="col-lg-4">
	<div class="form-group">
		<label class="label-with-checkbox">
			<input type="checkbox" value="">Checkbox 1</label>
		<input class="form-control" placeholder="Enter text"></div>
</div><div class="col-lg-4">
	<div class="form-group">
		<label class="label-with-checkbox">
			<input type="checkbox" value="">Checkbox 1</label>
		<input class="form-control" placeholder="Enter text"></div>
</div>
</div>
</div>
<!-- /.panel-body -->
</div>