
		</style>
		<div class="col-lg-8" id="user-account">
		<div class="userinfo-titile-container">
			<label class="userinfo-title">User Account</label>
			<div class="button-line-group">

				<div class="form-inline">
					<button type="button" class="btn btn-success" id="addRandomUser"> <i class="fa fa-plus"></i>
						Random User
					</button>
					<button type="button" class="btn btn-success" id="addUserWithSpecialEmail"> <i class="fa fa-plus"></i>
						User With Special Email
					</button>
			
				</div>

			</div>
		</div>

		<div>
			<div class="row">

				<div class="col-lg-6">
					<div class="form-group" id="Email">
						<label>Email</label>
						<div class="input-group">
								<input class="form-control" placeholder="Enter text">
								<span class="input-group-btn btn-group">
							<button class="btn btn-primary " type="button">Get User</button>
						</span>
						</div>
						</div>
				
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label>Password</label>
						<input class="form-control" placeholder="Enter text"></div>
				</div>


	<div class="col-lg-6">
					<div class="form-group">
						<label>Pid</label>
							<div class="input-group">
						<input type="text" class="form-control" placeholder="">		
						<span class="input-group-btn btn-group">
							<button class="btn btn-default " type="button"><i class="fa fa-user text-info"></i> Get User By Pid</button>
						</span>
					</div></div>
				</div>


				<div class="col-lg-6">
					<div class="form-group">
						<label>Dob</label>
						<input class="form-control" placeholder="Enter text"></div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label>Country</label>
						<select id="country"  class="form-control">
							<option>AE</option>
							<option>AR</option>
							<option>AT</option>
							<option>AU</option>
							<option>BE</option>
							<option>BG</option>
							<option>BR</option>
							<option>CA</option>
							<option>CH</option>
							<option>CN</option>
							<option>CZ</option>
							<option>DE</option>
							<option>DK</option>
							<option>GR</option>
							<option>ES</option>
							<option>FI</option>
							<option>FR</option>
							<option>GB</option>
							<option>HK</option>
							<option>IE</option>
							<option>IN</option>
							<option>IT</option>
							<option>JP</option>
							<option>KR</option>
							<option>MX</option>
							<option>NL</option>
							<option>NO</option>
							<option>NZ</option>
							<option>PL</option>
							<option>PT</option>
							<option>RU</option>
							<option>SE</option>
							<option>SG</option>
							<option>SA</option>
							<option>TR</option>
							<option>TW</option>
							<option>TH</option>
							<option>UA</option>
							<option selected="selected">US</option>
							<option>VE</option>
							<option>ZA</option>
						</select>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label>Language</label>
						<input class="form-control" placeholder="en"></div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label>Locale</label>
						<input class="form-control" placeholder="Enter text"></div>
				</div>
				<div class="col-lg-6">
					<button  type="button" class="btn btn-primary btn-down-form">Update User</button>

				</div>

			</div>

		</div>
		</div>