

		<div class="col-lg-4" id="billindaccount">
			<div class="userinfo-titile-container">
				<label class="userinfo-title">Billing Accounts</label>
<div class="button-line-group">
				<button type="button" class="btn btn-primary" id="addCreditcardaccount"> <i class="fa fa-plus"></i>
					Creditcardaccount
				</button>
				<button type="button" class="btn btn-default disabled" id="addEAWallet"> <i class="fa fa-plus"></i>
					EAWallet
				</button>
</div>
			</div>

			<div>
				<div class="form-group">
					<label>Billing Accounts</label>
					<div class="input-group">

						<select class=form-control id="">
							<option>1010127547336-creditcard</option>
							<option selected="selected">1010127747336-wallet</option>
						</select>

						<span class="btn-group input-group-btn" role="group">

							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-cog text-info"></i>
								Set As Default
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right" role="menu">

								<li>
									<a href="#">
										<i class="fa fa-cog text-info"></i>
										Set As Default
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-get-pocket text-info"></i>
										Get User
									</a>
								</li>

								<li>
									<a href="#">
										<i class="fa fa-refresh text-success"></i>
										Refresh
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fa fa-stop text-info"></i>
										Expire
									</a>
								</li>

							</ul>

						</span>
					</div>
				</div>
				<div class="form-group">
					<label>Default Billing Account Id</label>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="">		
						<span class="input-group-btn btn-group">
							<button class="btn btn-default " type="button">
								<i  class="fa fa-times-circle text-danger "></i>
								delete
							</button>
						</span>
					</div>
				</div>
			</div>
			<!--	<div class="userinfo-titile-container"  style="margin-top:25px>		
			<label class="userinfo-title">EAWallet</label>

		</div>
		-->
		<div>
			<div class="form-group">
				<label>Create / Charge EAWallet with amount</label>
				<div class="input-group" id="CreateChargeEAWalletwithamount">
					<input class="form-control" placeholder="maximum is 300 for USD">		

					<span class=" input-group-btn" role="group">

						<button type="button" class="btn btn-default " style="border-radius: 0">
							<!--<i class="fa fa-exchange text-info"></i>
						-->
								Charge EAWallet
					</button>
					<button type="button" class="btn btn-default " style="border-radius: 0">
						<!--<i class="fa fa-times-circle text-danger"></i>
					-->
								Delete EAWallet
				</button>
			</span>
		</div>
		</div>

		</div>
		</div>