<style scoped>
@media screen and (min-width: 769px) {
  	.btn-sum-resopnsive{
  		margin-top: 25px;
	}
}

@media screen and (min-width: 1700px){
.container-localbox {
width: 1600px;
}
}

</style>
<div class="container-localbox container-fluid">
	<div class="col-lg-12">
		<div class="row ">{{{userinfo}}}</div>

		<div class="row ">{{{flowchart}}}</div>
		<div class="row ">{{{URLParameters}}}</div>
	</div>

</div>